@page "/"

<PageTitle>Ejemplo Modelado</PageTitle>

<h1>Bridge Pattern</h1>

<p>
    El patrón de diseño Bridge se centra en desacoplar la abstracción de su implementación, 
    permitiendo que ambas evolucionen independientemente. Establece dos jerarquías de clases,
    una para la abstracción y otra para la implementación, con la abstracción conteniendo una 
    referencia a un objeto de implementación. Esto facilita la adaptabilidad del sistema al cambiar
    las abstracciones o implementaciones sin afectar la otra parte, evitando la creación de una gran
    cantidad de clases derivadas y proporcionando un diseño más flexible y mantenible.
</p>
